<div class="container">
    <div class="header-content">
        <input id="search" placeholder="Search.." (keyup)="handleSearch($event)" />
        <button class="button-add" (click)="handleAdd()">
            Agregar
        </button>
    </div>
    <ng-container *ngIf="isLoading === true ; else other">
        <app-table-skeletons></app-table-skeletons>
    </ng-container>
    <ng-template #other>
        <app-table-list [dataList]="dataListFilter" (listEvent)="getCardList()"></app-table-list>
    </ng-template>
</div>